
/* ───────────── general colours ───────────── */
:root {
    --bg        : #f9f6ee;
    --primary   : #385623;   /* green for titles */
  }
  /* ---------- global colours ---------- */
  html, body, [data-testid="stAppViewContainer"] {
    background: var(--bg) !important;
    color     : #000 !important;
    font-family: "Cairo", sans-serif;
  }
  .st-key-login button {
    background-color:#598837 ;
    color:aliceblue;
    position: relative;
    bottom: 150px;
    
  }
  .st-key-login button:hover {
    background-color:#7ab251 ;
    color:rgb(0, 0, 0) ;
  }
  .st-key-register button {
    background-color:#598837 ;
    color:aliceblue;
    position: relative;
    bottom: 150px;
    left: 250px;
  }
  .st-key-register button:hover {
    background-color:#7ab251 ;
    color:rgb(0, 0, 0) ;
  }
  .st-key-logout button {
    background-color:#598837 ;
    color:aliceblue
  }
  .st-key-create button {
    background-color:#598837 ;
    color:aliceblue
  }
  .st-key-enter button {
    background-color:#598837 ;
    color:aliceblue
  }
  .st-key-loginP button {
    background-color:#598837 ;
    color:aliceblue;
    position: relative;
    bottom: 150px;
    
  }
  .st-key-loginP button:hover {
    background-color:#7ab251 ;
    color:rgb(0, 0, 0) ;
  }
  .st-key-loginB button {
    background-color:#598837 ;
    color:aliceblue;
    position: relative;
    bottom: 150px;
    
  }
  .st-key-loginB button:hover {
    background-color:#7ab251 ;
    color:rgb(0, 0, 0) ;
  }
  /* headings */
  .st-key-text text {
    color: #598837 ;
  }
  h1, h2, h3, .stMarkdown h1, .stMarkdown h2, .stMarkdown h3 {
    color: var(--heading) !important;
  }
  
  /* ---------- header logo (top-right) ---------- */
  header[data-testid="stHeader"] {
    position: relative;
  }
  header[data-testid="stHeader"]::after {
    content: "";
    background: url("/static/LargeLogo.png") no-repeat center/contain;
    position: absolute;
    width: 130px;          /* edit size as needed */
    height: 40px;
    top: 6px;
    right: 12px;
  }
  
  /* ---------- sidebar logo (top) ---------- */
  [data-testid="stSidebar"]::before {
    content: "";
    display: block;
    height: 120px;         /* vertical space */
    background: url("/static/SmallLogo.png") no-repeat center/contain;
    margin: 10px 20px 25px;
  }
  [data-testid="stSidebarContent"] {
    background-color: #ffffff !important;
    color: #385623 !important;
  }
  [data-testid="stSidebarNav"] {
    background-image: url("SmallLogo.png");
    background-repeat: no-repeat;
    background-position: 15px 15px;
    padding-top: 70px;
  }
  [data-testid="stSidebarNav"] a {
    color: #000000 !important;
  }
  [data-testid="stSidebarNav"] a:hover {
    background-color: rgba(53, 170, 44, 0.406) !important;
  }
  [data-testid="stAlert"] {
    position: relative;
    bottom: 0;
    left: 0;
    right: 0;
    z-index: 0;
    width: 100%;
  }
  